%h1 Alle scrapers

%h3 Marktplaatsadvertenties

%table
  %tr
    %td
      %label
        = "Nike:"
    %td
      = scraperlink_to_fancybox "Start de scraper"
    %td
      = link_to "Results", scraper_path("marktplaats", :result => true)